<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tunsorngkroem.itkh">
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/itkh"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LessonActivity"
            android:parentActivityName=".MainActivity">
        </activity>
        <activity android:name=".AboutUsActivity"
            android:parentActivityName=".MainActivity"/>
        <activity android:name=".AdLearnActivity"
            android:parentActivityName=".MainActivity"/>
        <activity android:name=".QuizActivity"
            android:parentActivityName=".MainActivity"/>
        <activity android:name=".VideoActivity"
            android:parentActivityName=".MainActivity"/>
        <activity android:name=".DefinitionActivity"
            android:parentActivityName=".LessonActivity"/>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".YoutubeActivity"></activity>
    </application>

</manifest>